<section class="descriptions-content">
    <div class="descriptions-group">
        <div>
            <span>M치scara</span>
        </div>
        <div>
            <div class="descriptions-item">
                <%= image_tag 'required-mask.png', alt: 'icone de mascara obrigatorio' %>
                <p>Obrigat칩rio</p>
            </div>
            <div class="descriptions-item">
                <%= image_tag 'recommended-mask.png', alt: 'icone de mascara obrigatorio' %>
                <p>Recomendado</p>
            </div>
        </div>
    </div>
    <div class="descriptions-group">
        <div>
            <span>Toalha</span>
        </div>
        <div>
            <div class="descriptions-item">
                <%= image_tag 'required-towel.png', alt: 'icone de mascara obrigatorio' %>
                <p>Obrigat칩rio</p>
            </div>
            <div class="descriptions-item">
                <%= image_tag 'recommended-towel.png', alt: 'icone de mascara obrigatorio' %>
                <p>Recomendado</p>
            </div>
        </div>
    </div>
    <div class="descriptions-group">
        <div>
            <span>Bebedouro</span>
        </div>
        <div>
            <div class="descriptions-item">
                <%= image_tag 'partial-fountain.png', alt: 'icone de mascara obrigatorio' %>
                <p>Parcial</p>
            </div>
            <div class="descriptions-item">
                <%= image_tag 'forbidden-fountain.png', alt: 'icone de mascara obrigatorio' %>
                <p>Proibido</p>
            </div>
        </div>
    </div>
    <div class="descriptions-group">
        <div>
            <span>Vesti치rios</span>
        </div>
        <div>
            <div class="descriptions-item">
                <%= image_tag 'required-lockerroom.png', alt: 'icone de mascara obrigatorio' %>
                <p>Liberado</p>
            </div>
            <div class="descriptions-item">
                <%= image_tag 'partial-lockerroom.png', alt: 'icone de mascara obrigatorio' %>
                <p>Parcial</p>
            </div>
            <div class="descriptions-item">
                <%= image_tag 'forbidden-lockerroom.png', alt: 'icone de mascara obrigatorio' %>
                <p>Fechado</p>
            </div>
        </div>
    </div>
</section>